#popup_whatlinkshere_ajax {
	display: inline-block;
	margin: 0 0 0 2px;
	clear: none;
	float: left;
	position: relative;
	height: 1.35em;
}
#popup_whatlinkshere_ajax.shown .catlinks {
	height: auto;
}
#popup_whatlinkshere_ajax.catlinks {
	padding: 0.3em;
}
#popup_whatlinkshere_ajax .catlinks {
	padding: 0.3em;
	margin: 0;
	height: 1.35em;
}

